<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>
        Nucci
    </title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="../static/assets/css/app.min.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="../static/assets/bundles/datatables/datatables.min.css">
    <link rel="stylesheet"
          href="../static/assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../static/assets/css/style.css">
    <link rel="stylesheet" href="../static/assets/css/components.css">
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="../static/assets/css/custom.css">
    <link rel="icon" href="{{ url_for('static', filename='../static/assets/img/logo.svg') }}" type='image/x-icon'/>
</head>
<body class="light light-sidebar theme-white">
<div class="loader"></div>
<div id="app">
    <div class="main-wrapper main-wrapper-12">
        <div class="main-sidebar sidebar-style-2">
            <aside id="sidebar-wrapper">
                <div class="sidebar-brand">
                    <a href="#"> <img alt="image" src="../static/assets/img/logo.svg" class="header-logo"/> <span
                            class="logo-name">NuccI</span>
                    </a>
                </div>
                <ul class="sidebar-menu">
                    <li class="menu-header">Main</li>
                    <li class="dropdown">
                        <a href="#" class="nav-link"><i data-feather="monitor"></i><span>Dashboard</span></a>
                    </li>
                </ul>
                </li>
                </ul>
        </aside>
      </div>
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-body">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h4>Export Table</h4>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-striped table-hover" id="tableExport" style="width:100%;">
                        <thead>
                          <tr>
                            <th>ID</th>
                            <th>Severity</th>
                            <th>Endpoint</th>
                            <th>Scope</th>
                            <th>Vulnerability</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for vulndetails in vulns %}
                          <tr>
                            <td>{{ vulndetails._id}}</td>
                          {% if vulndetails.severity == 'critical' %}
                            <td><div class="badge-outline col-red">{{ vulndetails.severity|capitalize }}</div></td>
                          {% elif vulndetails.severity == 'high' %}
                            <td> <div class="badge-outline col-red">{{ vulndetails.severity|capitalize }}</div></td>
                          {% elif vulndetails.severity == 'medium' %}
                              <td><div class="badge-outline col-orange">{{ vulndetails.severity|capitalize }}</div></td>
                          {% elif vulndetails.severity == 'low' %}
                              <td><div class="badge-outline col-green">{{ vulndetails.severity|capitalize }}</div></td>
                          {% elif vulndetails.severity == 'info' %}
                              <td><div class="badge-outline col-purple">{{ vulndetails.severity|capitalize }}</div></td>
                          {% endif %}
                            <td>{{ vulndetails.endpoint }}</td>
                            <td>{{ vulndetails.scope }}</td>
                            <td>{{ vulndetails.vulnerability|capitalize }}</td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
        <footer class="main-footer">
            <div class="footer-left">
                Developed by smaran & yunish <span style='font-size:15px;'>&#129304;</span> {{ now.year }}
                <div class="bullet"></div>
            </div>
        </footer>
    </div>
</div>
<!-- General JS Scripts -->
<script src="../static/assets/js/app.min.js"></script>
<!-- JS Libraies -->
<!-- Page Specific JS File -->
<script src="../static/assets/bundles/datatables/datatables.min.js"></script>
<script src="../static/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script src="../static/assets/bundles/datatables/export-tables/dataTables.buttons.min.js"></script>
<script src="../static/assets/bundles/datatables/export-tables/buttons.flash.min.js"></script>
  <script src="../static/assets/bundles/datatables/export-tables/jszip.min.js"></script>
  <script src="../static/assets/bundles/datatables/export-tables/pdfmake.min.js"></script>
  <script src="../static/assets/bundles/datatables/export-tables/vfs_fonts.js"></script>
  <script src="../static/assets/bundles/datatables/export-tables/buttons.print.min.js"></script>
  <script src="../static/assets/js/page/datatables.js"></script>
  <!-- Template JS File -->
  <script src="../static/assets/js/scripts.js"></script>
  <!-- Custom JS File -->
  <script src="../static/assets/js/custom.js"></script>
</body>
</html>